table {
  width: 100%;
  background-color: rgb(228, 228, 228);
}

table th {
  padding: 5px;
  font-size: 20px;
  border-bottom: 1px solid black;
}

table td {
  padding: 5px;
  border-bottom: 0.5px solid gray;
}

table td:last-child, table th:last-child {
  min-width: 200px;
}

.btnEditar, .btnGuardar {
  margin-right: 5px;
}
